@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@500&display=swap');
* {
	margin: 0;
	padding: 0;
}
body {
	max-width: 1920px;
	width: 100%;
	margin: 0 auto;
}
header {
	background: #FFFFFF;
	box-shadow: 0px 10px 26px rgba(0, 0, 0, 0.25);
	padding: 9px 0;
}
ul {
	list-style: none;
}
li {
	margin-top: 21px;
}
footer {
	background-color: #526DB4;
	padding-bottom: 49px;
}
.last_li {
	position: absolute;
    right: 24%;
}
.footer_logo {
	margin-top: 41px;
}
.links_a {
	text-decoration: none;
	color:  #565555;
	font-size: 24px;
}
.footer_link {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 500;
	line-height: 36px;
	display: flex;
	align-items: center;
	color: #FFFFFF;
	margin-top: 70px;
}
.footer-link {
	margin-top: 35px;
}
.links_a:hover {
	text-decoration: none;
	color: #565555;
	border-bottom: 2.5px solid #526DB4;
	padding-bottom: 4%;
}
.links-a {
	text-decoration: none;
	color: #565555;
	font-size: 24px;
}
.links-a:hover {
	text-decoration: none;
	border-bottom: 2.5px solid #526DB4;
	padding-bottom: 4%;
	color: #565555;
}
.footer-a {
	text-decoration: none;
	color: #fff;
}
.last-group {
	padding-bottom: 80px;
}
.redy {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 700;
	font-size: 42px;
	line-height: 63px;
	color: #2D2D2D;
	text-align: center;
	margin-top: 84px;
}

.first-list {
	display: flex;
}
.one-header {
	background: #FFFFFF;
	box-shadow: 0px 10px 26px rgba(0, 0, 0, 0.25);
	padding: 9px 0;
	display: flex;
}
.second {
	display: none;
}
.list-dropdown {
	margin-left: 4%;
}
.second-li {
	margin-left: 6%;
}
.first_list {
	display: flex;
}
.footer_list {
	display: flex;
}
.footer-link {
	margin-top: 35px;
}
.last-icon {
	position: absolute;
    right: 16%;
}
.last-li {
	position: absolute;
    right: 24%;
}
.nav-link2 {
	color: #526DB4;
	text-decoration: none;
}
.links2 {
	margin-top: 45%;
}
.links {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 36px;
	display: flex;
	align-items: center;
}
.links1 {
	color: black;
}
.link-dropdown {
	font-style: normal;
    font-size: 24px;
    line-height: 36px;
    display: flex;
    align-items: center;
    color: #565555;
}
.responsive-li {
	list-style: none;
    margin-top: 0;
}


/*------first section------*/

.first-section {
	background-color: #BDCF48;
	background-image: url(../homeimg/firstdecore.png);
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
}
.first {
	display: flex;
}
.img-div-one {
	width: 40%;
    padding: 4% 0 0 1%;
}
.sky-vector-div {
	width: 40%;
    position: absolute;
    left: 26%;
}
.first-phone-div {
	width: 26%;
    margin-left: 26%;
    margin-top: 3%;
}
.sky-img {
	width: 100%;
}
button {
	background: none;
	border: none;
}
.buttons-div {
	display: flex;
}

/*----first responsive----*/

.first-responsive-section {
	background-color: #BDCF48;
	background-image: url(../homeimg/firstdecore.png);
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
}
.first-responsive {
	display: flex;
}
.img-div-one-responsive {
    width: 55%;
    padding: 4% 0 0 1%;
}
.sky-vector-div-responsive {
    width: 54%;
    position: absolute;
    left: 37%;
}
.first-phone-div-responsive {
    width: 37%;
    position: relative;
    top: 339px;
}
.first-responsive-p {
	margin-top: 13%;
    text-align: center;
}
.buttons-div-responsive {
	display: flex;
    justify-content: center;
}
.one-responsive {
	display: none;
}



/*-------second section-------*/

.second-babkground {
	background: linear-gradient(to bottom,
     #fff 61%, #8258A6 39%);
}
.second-phones-div {
	width: 23%;
    margin-left: 20%;
}
.second-phones-img {
	width: 134%;
    margin-top: 21%;
    margin-left: 9%;
    position: relative;
}
.second-girl-div {
	width: 54%;
    margin-left: 3%;
    padding: 0;
}
.second-section .row {
	margin-right: 0;
}
.second-section-p {
	color: #fff;
}
.second-responsive {
	display: none;
}


/*------second responsive------*/
.second-responsive-sky {
	width: 92%;
}
.two-responsive-sky {
	position: relative;
    left: 11px;
    top: 70px;
}
.second-responsive-big {
	background: linear-gradient(to bottom,
     #fff 36%, #8258A6 36%);
	width: 100%;
	display: flex;
}
.second-big-img {
	width: 50%;
}
.second-responsive-phones {
    width: 50%;
}
.two-responsive-phones {
	width: 85%;
    position: relative;
    top: 411px;
    left: 20px;
}
.second-responsive-p {
	margin: 2% 5%;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 27px;
	display: flex;
	align-items: center;
	color: #464646;
}

/*------third section-------*/
.third-section {
	background: linear-gradient(to bottom, #fff 63%, #DD7C32 37%);
}
.third-section .row {
	margin-right: 0;
}
.third-girl-div {
	width: 47%;
}
.tird-girl-img {
	width: 111%;
}
.third-phone-div {
	width: 37%;
}
.third-phone-img {
	margin-top: 27%;
}
.third-section-p {
	margin-top: 2%;
    font-size: 23px;
    color: #fff;
}


/*------third responsive------*/

.third-responsive-big {
	background: linear-gradient(to bottom, #fff 63%, #DD7C32 37%);
    display: flex;
    width: 100%;
}
.third-big-img {
	width: 36%;
    position: relative;
    left: 55px;
}
.three-responsive-sky {
	position: relative;
    top: 70px;
}
.third-responsive-phones {
	width: 55%;
    position: relative;
    top: 252px;
    left: 60px;
}
.third-responsive {
	display: none;
}
.third-responsive-p {
	margin: 2% 5%;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 27px;
	display: flex;
	align-items: center;
	color: #464646;
}

/*------fourth section-------*/

.fourth-girl-img {
	width: 50%;
	margin: 0 auto;
	display: block;
	position: relative;
	z-index: 100;
}
.fourth-p {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 48px;
	text-align: center;
	color: #ffffff;
	margin-bottom: 0;
	padding-top: 35px;
}
.fourth-buttons {
	display: flex;
	margin: 0;
	justify-content: center;
}
.buttons {
	width: 75%;
}
.button-links {
	padding-bottom: 2%;
}
.fourth-decore-img {
	width: 81%;
	position: absolute;
	left: 8%;
	z-index: 1;
}
.second-fourth {
	background-color: #526db4;
}



/*------fivth section--------*/

.fivth-text {
	background-image: url(../homeimg/bgbento.png);
	margin-top: 5%;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
}
.logo-bento {
	display: flex;
    justify-content: center;
}
.powerdby-text {
	font-family: 'Poppins';
    font-weight: 600;
    font-size: 36px;
    display: flex;
    align-items: center;
    color: #464646;
    margin-top: 2%;
}
.bento-logo {
	width: 25%;
    margin-top: 1%;
}
.fivth-p {
	margin-top: 1%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #464646;
}
.five-p {
	margin-bottom: 0;
}
.fivth-button {
	display: flex;
	justify-content: center;
	margin: 3% 0;
}
.five-button {
	border: none;
    background: none;
}
.button-img {
	width: 50%;
}
.fivth-group {
	width: 100%;
}

.one {
	background-image: url(../homeimg/bgone.png);
	width: 35%;
}
.two {
	background-image: url(../homeimg/bgtwo.png);
	width: 33%;
}
.three {
	background-image: url(../homeimg/bgthree.png);
	width: 32.1%;
}
.foure {
	background-image: url(../homeimg/bgone.png);
	width: 35%;
}
.five {
	background-image: url(../homeimg/bgtwo.png);
	width: 33%;
}
.six {
	background-image: url(../homeimg/bgthree.png);
	width: 32%;
}
.girls-col {
	padding: 0;
}
.girls-row {
	margin: 0;
}
.one-img {
	width: 100%;
    height: 100%;
}
.two-img {
	width: 100%;
    height: 100%;
}
.three-img {
	width: 100%;
    height: 100%;
}

/*------sixth section-------*/
h1 {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 600;
	font-size: 36px;
	line-height: 72px;
	display: flex;
	align-items: center;
	text-align: center;
	color: #464646;
	margin: 10% 0;
}
.sixth-section {
	background-image: url(../homeimg/column.png);
	background-repeat: no-repeat;
	background-position: top;
	padding-bottom: 25%;
}
.first-big-block {
	justify-content: space-between;
}
.one-phone {
	width: 50%;
    margin-top: 7%;
}
.one-text-div {
	width: 43%;
    margin-top: 16%;
}
.one-image {
	display: flex;
    justify-content: end;
}
.one-title {
	display: flex;
    justify-content: end;
}
.one-name {
	display: flex;
    justify-content: end;
}
.one-text {
	display: flex;
    justify-content: end;
    text-align: end;
    font-size: 21px;
}
.one_one {
	color: #EAA92F
}


.two-phone {
	width: 50%;
    margin-top: 32%;
}
.two-text-div {
	width: 43%;
    margin-top: 48%;
}
.two-image {
	display: flex;
    justify-content: start;
}
.two-title {
	display: flex;
    justify-content: start;
}
.two-name {
	display: flex;
    justify-content: start;
}
.two-text {
	display: flex;
    justify-content: start;
    text-align: start;
    font-size: 19px;
}
.two_two {
	color: #B8D137;
}


.three-phone {
	width: 50%;
    margin-top: 32%;
}
.three-text-div {
	width: 43%;
    margin-top: 40%;
}
.three-text {
	font-size: 19.5px;
	text-align: end;
}
.three_three {
	color: #8257A6;
}


.foure-phone {
	width: 50%;
    margin-top: 32%;
}
.foure-text-div {
	width: 43%;
    margin-top: 40%;
}
.foure_foure {
	color: #EAAA2F;
}
.foure-text {
	font-size: 19.5px;
	text-align: start;
}


.five-phone {
	width: 50%;
    margin-top: 25%;
    margin-left: 10%;
}
.five-text-div {
	width: 43%;
    margin-top: 35%;
}
.five_five {
	color: #BDCF49;
}
.five-text {
	font-size: 19px;
	text-align: end;
}


.sixth-phone {
	width: 50%;
    margin-top: 30%;
}
.sixth-text-div {
	width: 43%;
    margin-top: 40%;
}
.six_six {
	color :#8258A6
}
.six-text {
	font-size: 22.5px;
	text-align: start;
}


.seventh-phone {
	width: 50%;
    margin-top: 35%;
    margin-left: 10%;
}
.seventh-text-div {
	width: 43%;
    margin-top: 40%;
}
.seven_seven {
	color: #EAAA2F;
}
.seven-text {
	font-size: 19px;
	text-align: end;
}


.eight-phone {
	width: 50%;
    margin-top: 25%;
}
.eight-text-div {
	width: 43%;
    margin-top: 40%;
}
.eight_eight {
	color: #526DB4;
}
.eight-text {
	font-size: 19.5px;
	text-align: start;
}


.nine-phone {
	width: 50%;
    margin-top: 30%;
    margin-left: 10%;
}
.nine-text-div {
	width: 43%;
    margin-top: 40%;
}
.nine_nine {
	color: #DE7C33;
}
.nine-text {
	font-size: 22px;
	text-align: end;
}


/*------seventh section------*/

.seventh-section {
	background: linear-gradient(to bottom,
     #fff 63%, #B8D137 37%);
}
.seventh-section .row {
	margin-right: 0;
}
.seventh-girl-div {
	width: 50%;
}
.seventh-phones-div {
	width: 37%;
}
.seventh-section-p {
	font-size: 24px;
	color: #fff;
}

/*------seventh responsive------*/

.seventh-responsive-big {
	background: linear-gradient(to bottom, #fff 37%, #B8D137 37%);
    display: flex;
    width: 100%;
}
.seventh-big-img {
	width: 36%;
    position: relative;
    left: 79px;
}
.seventh-responsive-phones {
	width: 46%;
    position: relative;
    top: 310px;
    left: 120px;
}
.seventh-responsive-p {
	margin: 2% 5%;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 27px;
	display: flex;
	align-items: center;
	color: #464646;
}
.seventh-responsive {
	display: none;
}


/*------media------*/

@media (max-width: 1300px) {
	.third-section-p {
		font-size: 16px;
	}
}
@media (max-width: 1230px) {
	.seventh-section-p {
		font-size: 16px;
	}
}
@media (max-width: 1205px) {
	.second-section-p {
		font-size: 12px;
	}
}
@media (max-width: 1199px) {
	.three-text-div {
		margin-top: 70%;
	}
	.three-phone {
		margin-top: 63%;
	}
	.five-text-div {
		margin-top: 60%;
	}
	.five-phone {
		margin-top: 50%;
	}
	.seventh-text-div {
		margin-top: 70%;
	}
	.seventh-phone {
		margin-top: 60%;
	}
	.eight-text-div {
		margin-top: 60%;
	}
	.eight-phone {
		margin-top: 45%;
	}
	.nine-text-div {
		margin-top: 65%;
	}
	.nine-phone {
		margin-top: 55%;
	}
}
@media (max-width: 991px) {
	.footer_li {
		font-size: 18px;
	}
	.last-li {
		position: absolute;
		left: 17%;
	}
	.sixth-section {
		background: none;
	}
	.first-big-block {
		display: flex;
		flex-direction: column !important;
	}
	.five-big-block {
		display: flex;
		flex-direction: column !important;
	}
	.one-text-div {
		width: 100%;
		order: -1;
	}
	.one-phone {
		width: 100%;
		order: -1000;
	}
	.two-text-div {
		width: 100%;
	}
	.two-phone {
		width: 100%;
	}
	.three-text-div {
		width: 100%;
		order: -1;
	}
	.three-phone {
		width: 100%;
		order: -1000;
	}
	.foure-text-div {
		width: 100%;
	}
	.foure-phone {
		width: 100%;
	}
	.five-text-div {
		width: 100%;
		order: -1;
	}
	.five-phone {
		width: 90%;
		order: -1000;
	}
	.sixth-text-div {
		width: 100%;
	}
	.sixth-phone {
		width: 100%;
	}
	.seventh-text-div {
		width: 100%;
		order: -1;
	}
	.seventh-phone {
		width: 90%;
		order: -1000;
	}
	.eight-text-div {
		width: 100%;
	}
	.eight-phone {
		width: 100%;
	}
	.nine-text-div {
		width: 100%;
		order: -1;
	}
	.nine-phone {
		width: 90%;
		order: -1000;
	}
	.one-header {
		display: none;
	}
	.second {
		display: flex;
	}
	.dropdown-ul {
		margin-left: 42%;
	}
	.second-responsive {
		display: initial;
	}
	.second-section {
		display: none;
	}
	.third-responsive {
		display: initial;
	}
	.third-section {
		display: none;
	}
	.seventh-responsive {
		display: initial;
	}
	.seventh-section {
		display: none;
	}
	.first-section {
		display: none;
	}
	.one-responsive {
		display: initial;
	}
}
@media (max-width: 890px) {
	.seventh-responsive-phones {
		position: relative;
	    top: 270px;
	    left: 120px;
	}
}
@media (max-width: 880px) {
	.first-phone-div-responsive {
	    position: relative;
	    top: 285px;
	}
}
@media (max-width: 860px) {
	.third-responsive-phones {
		position: relative;
    	top: 190px;
	}
}
@media (max-width: 840px) {
	.two-responsive-phones {
		position: relative;
		top: 315px;
	}
}
@media (max-width: 780px) {
	.seventh-responsive-phones {
	    position: relative;
	    top: 235px;
	    left: 95px;
	}
}
@media (max-width: 767px) {
	.links-a {
		font-size: 16px;
	}
	.links_a {
		font-size: 16px;
	}
}
@media (max-width: 735px) {
	.first-phone-div-responsive {
	    position: relative;
	    top: 240px;
	}
}
@media (max-width: 700px) {
	.dropdown-ul {
		margin-left: 0;
	}
}
@media (max-width: 680px) {
	.seventh-responsive-phones {
	    position: relative;
	    top: 200px;
	    left: 75px;
	}
}
@media (max-width: 670px) {
	.third-big-img {
		position: relative;
    	left: 27px;
	}
	.third-responsive-phones {
	    position: relative;
	    top: 130px;
	    left: 40px;
	}
}
@media (max-width: 660px) {
	.two-responsive-phones {
		position: relative;
	    top: 265px;
	}
}
@media (max-width: 615px) {
	.first-phone-div-responsive {
	    position: relative;
	    top: 200px;
	}
}
@media (max-width: 585px) {
	.seventh-responsive-phones {
	    position: relative;
	    top: 170px;
	    left: 70px;
	}
}
@media (max-width: 555px) {
	.three-responsive-sky {
	    position: relative;
	    top: 50px;
	}
	.third-responsive-phones {
	    position: relative;
	    top: 100px;
	    left: 24px;
	}
}
@media (max-width: 548px) {
	.links-a {
		font-size: 15px;
	}
	.links_a {
		font-size: 15px;
	}
}
@media (max-width: 535px) {
	.two-responsive-phones {
		position: relative;
	    top: 190px;
	}
}
@media (max-width: 531px) {
	ul {
		padding-left: 0;
	}
}
@media (max-width: 510px) {
	.first-phone-div-responsive {
	    position: relative;
	    top: 165px;
	}
}
@media (max-width: 500px) {
	.seventh-big-img {
	    width: 36%;
	    position: relative;
	    left: 45px;
	}
	.seventh-responsive-phones {
	    position: relative;
	    top: 145px;
	    left: 45px;
	}
}
@media (max-width: 479px) {
	.footer-li {
		font-size: 8px;
	}
}
@media (max-width: 472px) {
	.contact_us {
		display: block;
	}
}
@media (max-width: 462px) {
	.ready {
		font-size: 35px;
	}
}
@media (max-width: 420px) {
	.two-responsive-sky {
		position: relative;
		top: 55px;
	}
	.seventh-responsive-phones {
	    position: relative;
	    top: 125px;
	}
	.first-phone-div-responsive {
	    position: relative;
	    top: 140px;
	}
}
@media (max-width: 403px) {
	.header-a {
		font-size: 11px;
	}
	.header_a {
		font-size: 11px;
	}
}
@media (max-width: 400px) {
	.last-icon {
		width: 15%;
	}
	.two-responsive-phones {
		position: relative;
	    top: 150px;
	}
}
@media (max-width: 390px) {
	.third-responsive-phones {
	    position: relative;
	    top: 85px;
	}
	.three-responsive-sky {
	    position: relative;
	    top: 40px;
	}
}
@media (max-width: 370px) {
	.seventh-responsive-phones {
	    position: relative;
	    top: 105px;
	}
}
@media (max-width: 360px) {
	.first-phone-div-responsive {
	    position: relative;
	    top: 115px;
	}
}
@media (max-width: 325px) {
	.links_a {
		font-size: 10px;
	}
	.links_a {
		font-size: 10px;
	}
}
@media (max-width: 371px) {
	.footer_li {
		font-size: 9px;
	}
}
@media (max-width: 343px) {
	.footer_li {
		font-size: 7px;
	}
}
@media (max-width: 320px) {
	.contact_us {
		display: block;
	}
}
.footer_list {
	display: flex;
}
.ready {
	text-align: left;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 700;
	font-size: 42px;
	line-height: 63px;
	color: #2D2D2D;
	margin-top: 84px;
}
