@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@500&display=swap');
* {
	margin: 0;
	padding: 0;
}
body {
	max-width: 1920px;
	width: 100%;
	margin: 0 auto;
}
header {
	background: #FFFFFF;
	box-shadow: 0px 10px 26px rgba(0, 0, 0, 0.25);
	padding: 9px 0;
}
ul {
	list-style: none;
}
li {
	margin-top: 21px;
}
footer {
	background-color: #526DB4;
	padding-bottom: 49px;
}
.last_li {
	margin-right: 20px;
	margin-top: 0;
}
.footer_logo {
	margin-top: 41px;
}
.header_link {
	text-decoration: none;
	border-bottom: 2.5px solid #526DB4;
	color:  #565555;
	padding-bottom: 4%;
	font-size: 24px;
}
.footer_li {
	font-style: normal;
	font-weight: 500;
	line-height: 36px;
	display: flex;
	align-items: center;
	color: #FFFFFF;
	margin-top: 70px;
}
.footer-li {
	margin-left: 75%;
	margin-top: 35px;
}
.header_link:hover {
	text-decoration: none;
	color: #565555;
}
.header-link {
	text-decoration: none;
	color: #565555;
	font-size: 24px;
}
.header-link:hover {
	text-decoration: none;
	border-bottom: 2.5px solid #526DB4;
	padding-bottom: 4%;
	color: #565555;
}
.footer-a {
	text-decoration: none;
	color: #fff;
}
.redy {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 700;
	font-size: 42px;
	line-height: 63px;
	color: #2D2D2D;
	text-align: center;
	margin-top: 84px;
}
.fivth-girl-img {
	width: 50%;
	margin: 0 auto;
	display: block;
	position: relative;
	z-index: 100;
}
.fivth-p {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 48px;
	text-align: center;
	color: #FFFFFF;
	margin-bottom: 0;
	padding-top: 35px;
}
.second-fivth {
	background-color:#526DB4;
}
.fivth-buttons {
	display: flex;
	margin: 0;
	justify-content: center;
}
.buttons {
	width: 75%;
}
.button-links {
	padding-bottom: 2%;
}
.fivth-decore-img {
	width: 81%;
	position: absolute;
	left: 8%;
	z-index: 1;
}
.second-list {
	width: 21%;
}
.second-ul {
	justify-content: center;
}
.first-list {
	display: flex;
}
.second-li {
	margin-left: 20%;
}









/*------media------*/

@media(max-width: 1200px) {
	.col-xl-2 {
		display: none;
	}
}
@media (max-width: 1057px) {
	.third-sky {
		position: relative;
	    top: 168px;
	    left: 324px;
	    z-index: 1;
	}
}
@media (max-width: 991px) {
	.footer_li {
		font-size: 18px;
	}
}
@media (max-width: 800px) {
	.first-block {
		flex-wrap: wrap;
	}
}
@media (max-width: 767px) {
	.header-link {
		font-size: 16px;
	}
	.header_link {
		font-size: 16px;
	}
	.footer_li {
		font-size: 10px;
	}
	.footer-li {
		font-size: 8px;
	}
}
@media (max-width: 548px) {
	.header-link {
		font-size: 15px;
	}
	.header_link {
		font-size: 15px;
	}
}
@media (max-width: 531px) {
	ul {
		padding-left: 0;
	}
}
@media (max-width: 479px) {
	.footer-li {
		font-size: 8px;
	}
}
@media (max-width: 472px) {
	.contact_us {
		display: block;
	}
}
@media (max-width: 462px) {
	.ready {
		font-size: 35px;
	}
}
@media (max-width: 403px) {
	.header-link {
		font-size: 11px;
	}
	.header_link {
		font-size: 11px;
	}
}
@media (max-width: 400px) {
	.footer-li {
		margin-left: 40%;
		font-size: 7px;
	}
}
@media (max-width: 325px) {
	.header_link {
		font-size: 10px;
	}
	.header-link {
		font-size: 10px;
	}
}
@media (max-width: 371px) {
	.footer_li {
		font-size: 9px;
	}
}
@media (max-width: 343px) {
	.footer_li {
		font-size: 7px;
		margin-right: -11px;
	}
}
@media (max-width: 320px) {
	.contact_us {
		display: block;
	}
}
@media (max-width: 886px) {
	.first-section-p {
		font-size: 13px;
	}
}
/*-----contact us-----*/
.contact {
	padding: 0;
}
.footer_list {
	display: flex;
}
.info {
	font-family: 'Poppins';
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 41px;
color: #000000;
}
.contacts {
margin: 0 auto;
}
.ready {
	text-align: left;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 700;
	font-size: 42px;
	line-height: 63px;
	color: #2D2D2D;
	margin-top: 84px;
}
.contact_us {
	margin-right: 37px;
}
.second_section_p {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 600;
	font-size: 38px;
	line-height: 72px;
	display: flex;
	align-items: center;
	text-align: center;
	color: #464646;
	margin-top: 200px;
}
.second-block-text {
	width: 60%;
	margin: 0 auto;
}
.third_p {
	font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 48px;
    color: #464646;
    text-align: center;
    margin-top: 62px;
}
.first-section {
	background-image: url(../homeimages/firstsection.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
.first_section_button {
	width: 24%;
	background: none;
	border: none;
}
.first-block-p {
	width: 50%;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    color: #464646;
    text-shadow: 0px 4px 10px rgb(0 0 0 / 25%);
    margin-left: 42%;
    margin-top: 2%;
}
.button-block {
	margin: 1% 0;
    padding-bottom: 2%;
}
.first-list {
	display: flex;
}
.iphone-img {
	width: 26%;
    margin-left: 68%;
    margin-top: 2%;
}
.sixth-text {
	background-image: url(../homeimages/bgbento.png);
	margin-top: 5%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}
.sixth-bg-img {
	width: 100%;
}
.powerdby-text {
	width: 20%;
	height: 100%;
    margin-top: 4%;
}
.bento-logo {
	width: 25%;
    margin-top: 1%;
}
.sixth-group {
	width: 100%;
}
.logo-english-bento {
	display: flex;
    justify-content: center;
}
.sixth-p {
	margin-top: 1%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #464646;
}
.six-p {
	margin-bottom: 0;
}
.sixth-button {
	display: flex;
	justify-content: center;
	margin: 3% 0;
}
.six-button {
	border: none;
    background: none;
}
.button-img {
	width: 50%;
}
.third {
	background: linear-gradient(to bottom,
     #fff 70%, #8258A6 30%);
}
.third-girl {
	width: 45%;
    position: absolute;
    right: 0;
    z-index: 100;
}
.third-phones {
	width: 33%;
	margin-left: 8%;
	position: relative;
	z-index: 100;
}
.third-text {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	display: flex;
	align-items: center;
	color: #fff;
	width: 100%;
}
.third-sky {
	width: 44%;
    position: relative;
    top: 200px;
    left: 338px;
    z-index: 1;
}
.one {
	position: absolute;
    top: 623%;
    width: 91%;
}
.two {
	position: absolute;
    top: 1232%;
    width: 91%;
}
.column {
	display: flex;
	justify-content: center;
}
.eighth {
	background: linear-gradient(to bottom,
     #fff 60%, #B8D137 40%);
}
.girl-div {
	width: 35%;
}
.first-section-button {
	background: none;
	border: none;
	margin-left: 46%;
	width: 24%;
}
.first_button {
	background: none;
	border: none;
}
.butons {
	width: 75%;
}
.first-img {
	display: flex;
	justify-content: end;
}
.one-img {
	display: block;
    margin-top: 40%;
}
.one-title {
	margin-top: 10%;
	width: 100%;
}
.one-text {
	margin-top: 10%;
	width: 100%;
}
.listen-say {
	margin-top: 10%;
	width: 100%;
}
.one-phone {
	width: 100%;
	margin-top: 45%;
}
.two-div {
	margin-top: 97%;
}
.quiz {
	margin-top: 10%;
}
.two-title {
	margin-top: 10%;
}
.two-text {
	margin-top: 10%;
	width: 100%;
}
.two-phone {
	width: 100%;
	margin-top: 95%;
}
.title-div {
	display: flex;
	justify-content: end;
	margin-top: 10%;
}
.build-div {
	display: flex;
	justify-content: end;
	margin-top: 10%;
}
.three-img {
	display: flex;
	justify-content: end;
}
.three-text {
	width: 100%;
	margin-top: 10%;
}
.three-div {
	margin-top: 95%;
}
.three-phone {
	width: 100%;
    margin-top: 95%;
}
.foure-div {
	margin-top: 100%;
}
.texting {
	margin-top: 10%;
}
.foure-title {
	width: 100%;
    margin-top: 10%;
}
.foure-text {
	width: 100%;
    margin-top: 10%;
}
.foure-phone {
	width: 100%;
	margin-top: 100%;
}
.five-div {
	margin-top: 105%;
}
.five-img {
	display: flex;
	justify-content: end;
}
.howmany-div {
	display: flex;
    justify-content: end;
    margin-top: 10%;
}
.five-text {
	width: 100%;
    margin-top: 10%;
}
.five-phone {
	width: 100%;
    margin-top: 105%;
}
.six-div {
	margin-top: 110%;
}
.compq {
	margin-top: 10%;
}
.six-title {
	margin-top: 10%;
}
.six-text {
	margin-top: 10%;
}
.six-phone {
	width: 100%;
    margin-top: 110%;
}
.seven-img {
	display: flex;
	justify-content: end;
}
.definition-div {
	display: flex;
	justify-content: end;
	margin-top: 10%;
}
.seven-text {
	width: 100%;
	margin-top: 10%;
}
.seven-title {
	width: 100%;
}
.seven-div {
	margin-top: 95%;
}
.seven-phone {
	margin-top: 95%;
	width: 100%;
}
.eight-phone {
	width: 100%;
	margin-top: 95%;
}
.eight-div {
	margin-top: 90%;
}
.listening {
	margin-top: 10%;
}
.eight-title {
	margin-top: 10%;
}
.eight-text {
	margin-top: 10%;
}
.nine-phone {
	width: 100%;
	margin-top: 95%;
}
.nine-div {
	margin-top: 95%;
}
.nine-img {
	display: flex;
	justify-content: end;
}
.reading-div {
	display: flex;
	justify-content: end;
	margin-top: 10%;
}
.nine-text {
	width: 100%;
	margin-top: 10%;
}
.nine-div {
	margin-top: 95%;
}
